 
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h2 class="form-login-heading">Login</h2>
            <form role="form"  name="loginForm" ng-submit="login()">
                <input type="text" class="form-control" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
                <button class="btn btn-md btn-info btn-block" type="submit" ng-disabled="appForm.$invalid">Login</button>
            </form>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
